PORT=5000
NODE_ENV=development
MONGO_URI=MONGO_URI=mongodb://eswarFeb:seshu@ac-xezug92-shard-00-00.rmbbuzh.mongodb.net:27017,ac-xezug92-shard-00-01.rmbbuzh.mongodb.net:27017,ac-xezug92-shard-00-02.rmbbuzh.mongodb.net:27017/placement_preparation_portal?ssl=true&replicaSet=atlas-7padde-shard-0&authSource=admin&appName=February
JWT_SECRET=S21fe@samsung
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
cd